.counter {
  display: flex;
  align-items: center;

  .value {
    margin-left: 7px;
    margin-right: 7px;
  }

  .btn {
    border: 1px solid lightgray;
    background-color: rgba(228, 225, 225, 0.822);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: rgb(138, 135, 135);
      color: #ffffff;
    }

    &:active {
      background-color: rgb(80, 78, 78);
    }
  }
}